//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3A3A3A;
$iconColor: #262F56;
$orangeColor: #E89F71;
$grayColor: #898989;
$darkGrayColor: #616161;
$borderColor: #D8D8D8;
$sliderBackgroundLight: #FCF8F3;
$sliderBackgroundObscure: #F9F1E7;

$footerMarginBottom: 0px 0px (16px/24px * 1em) 0px;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0px 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
//<СЛАЙДЕР>==========================================================================================================
.page {
	flex: 1 1 auto;
    // .page__main-slider
    &__main-slider {
    }
}

.main-slider {
  background-color: $sliderBackgroundLight;
  // .main-slider__container
  &__container {
    position: relative;
    @media (min-width: $md3+px) {
      // Fucking color block
      &::before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        right: 376px;
        content: "";
        background-color: $sliderBackgroundObscure;
      }
    }
  }

  // .main-slider__body
  &__body {
    padding: 140px 0px 0px 0px;
    position: relative;
    z-index: 2;
    @media (min-width: $md2+px) {
      display: flex;
    }
    @media (max-width: $md2+px) {
      padding: 80px 0px 0px 0px;
    }
    @media (max-width: $md3+px) {
      padding: 50px 0px 0px 0px;
    }
  }

  // .main-slider__content
  &__content {
    align-self: flex-;
    flex: 0 0 (494 / 1240 * 100%);
    @include adaptiv-value ("margin-bottom", 80, 20, 1);
    @media (max-width: $md2+px) {
      margin: 0px -15px 0px -15px;
    }
  }

  // .main-slider__slider
  &__slider {
    align-self: flex-end;
    flex: 1 1 auto;
    min-width: 0; // чтобы свайпер с ума не сходил
    @media (min-width: $md2+px) {
      padding-left: 32px;
    }
  }
}

.content-main {
  position: relative;
  padding: 15px;
  z-index: 5;
  background: rgba(255, 255, 255, 0.72);
  @media (min-width: $md2+px) {
    @include adaptiv-value(padding, 60, 1, 1);
    // экспериментальная технология, не везде поддерживается
    @supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(25px);
    }

  }
  // .content-main__title
  &__title {
    font-weight: 700;
    @include adaptiv-value ("font-size", 56, 20, 1);
    @include adaptiv-value ("line-height", 67, 30, 1);
    &:not(:last-child) {
      margin: 0px 0px (16px / 56px * 1em) 0px;
    }
  }

  // .content-main__text
  &__text {
    font-weight: 500;
    font-size: 20px;
    color: $grayColor;
    @include adaptiv-value ("font-size", 20, 14, 1);
    @include adaptiv-value ("line-height", 30, 20, 1);
    &:not(:last-child) {
      margin: 0px 0px (48px / 20px * 1em) 0px;
    }
  }

  // .content-main__button
  &__button {
    width: 100%;
    @include adaptiv-value ("min-height", 78, 45, 1);
    font-weight: 600;
    @include adaptiv-value ("font-size", 20, 14, 1);
    @include adaptiv-value ("line-height", 30, 20, 1);
    color: #FFFFFF;
    background-color: $orangeColor;
    @media (any-hover: hover) {
      &:hover {
        background: #b26e43;
      }
    }
  }
}

.slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: $md2+px) {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  // .slider-main__controls
  &__controls {
    align-self: stretch;
    margin-bottom: 20px;
    @media (max-width: $md2+px) {
      margin: 10px 0px 10px 0px;
      data-swiper-parallax-opacity: "none";
      data-swiper-parallax-x: "-100%";
    }
  }

  // .slider-main__body
  &__body {
    overflow: visible;
    @media (min-width: $md2+px) {
      @include adaptiv-value ("width", 934, 290, 1); // for resoluton 320px: width=320px - padding(left,right)=15px = 290px
    }
    @media (max-width: $md2+px) {
      margin: 0px -15px 0px -15px;
    }
  }

  // .slider-main__slide
  &__slide {
    position: relative;
  }

  // .slider-main__image
  &__image {
    padding: 0px 0px 59.4% 0px;
  }

  // .slider-main__content
  &__content {
    display: flex;
    flex-direction: column;
    min-width: 295px;
    max-height: 300px;
    overflow: auto;
    color: inherit;
    @include adaptiv-value ("padding", 24, 14, 1);
    background: rgba(255, 255, 255, 0.72);
    @media (min-width: $md3+px) {
      position: absolute;
      min-width: 350px;
      @include adaptiv-value ("right", 40, 0, 1);
      @include adaptiv-value ("bottom", 40, 0, 1);
    }
    @supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(25px);
    }
  }

  // .slider-main__title
  &__title {
    &:not(:last-child) {
      margin: 0px 0px (4px / 28px * 1em) 0px;
    }
    @include adaptiv-value ("font-size", 28, 22, 1);
    @include adaptiv-value ("line-height", 34, 26, 1);
    font-weight: 600;

  }

  // .slider-main__text
  &__text {
    &:not(:last-child) {
      margin: 0px 0px (8px / 16px * 1em) 0px;
    }
    @include adaptiv-value ("font-size", 16, 10, 1);
    @include adaptiv-value ("line-height", 24, 16, 1);
    font-weight: 500;
    color: $grayColor;
  }

  // .slider-main__price
  &__price {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    @include adaptiv-value ("font-size", 20, 12, 1);
    @include adaptiv-value ("line-height", 30, 18, 1);
    font-weight: 600;
    &::before {
      margin: 0px 0px 0px 10px;
      font-weight: 700;
      font-size: 13px;
      @media (max-width: $md2+px) {
        opacity: 0;
      }
    }
  }
}

.controls-slider-main {
  display: flex;
  align-items: center;

  // .controls-slider-main__dotts
  &__dotts {
    flex: 1 1 auto;
    @media (max-width: $md2+px) {
      margin: 0px -15px 0px -15px;
    }
  }

  // .controls-slider-main__arrows
  &__arrows {
    @media (max-width: $md2+px) {
      display: none;
    }
  }
}

//</СЛАЙДЕР>==========================================================================================================
